PORT=3000

OSU_CLIENT_ID=
OSU_CLIENT_SECRET=
OSU_CALLBACK_URL=https://hanami.yorunoken.com/api/callback

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

BOT_DATABASE_URL=mysql://user:password@host:3306/hanamibot
WEB_DATABASE_URL=mysql://user:password@host:3306/hanami_web

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=https://hanami.yorunoken.com
BOT_LINK_SECRET=
