# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/
/out/

# production
dist

# generated Prisma clients
/src/generated/prisma

# environment
.env*
!.env.example


# typescript
*.tsbuildinfo
next-env.d.ts
