@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --purple-rgb: 59, 42, 70;
    --black-rgb: 12, 12, 12;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        180deg,
        rgba(var(--purple-rgb)),
        rgba(var(--black-rgb)),
        rgba(var(--black-rgb)),
        rgba(var(--black-rgb)),
        rgba(var(--black-rgb)),
        rgba(var(--black-rgb)),
        rgba(var(--black-rgb)),
        rgba(var(--black-rgb)),
        rgba(var(--purple-rgb))
    );
    overflow-x: hidden;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
